* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url(https://images.pexels.com/photos/3184454/pexels-photo-3184454.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    background-size: cover;
}

.header h1 {
    font-size: 45px;
}

.header p {
    font-size: 30px;
}


/* Create three equal columns that floats next to each other and Feedback */

.one-column {
    float: left;
    width: 100%;
    padding: 0 20% 0 20%;
}

.one-column h1,
h2 {
    text-align: center;
}

.two-column {
    float: left;
    width: 50%;
    font-size: 10px;
    padding: 2% 2% 2% 2%;
}

.pre-footer {
    float: left;
    width: 50%;
}

.four-column {
    float: left;
    width: 25%;
}


/*Galeria*/

.three-column {
    padding: 20px;
    float: left;
    width: 33.3%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    padding: 10px;
    text-align: center;
}

.clear {
    clear: both;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
    background-color: #21252995;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}