* {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url(https://images.pexels.com/photos/3184454/pexels-photo-3184454.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    background-size: cover;
}

.header h1 {
    font-size: 55px;
}

.header p {
    font-size: 40px;
}


/* Create three equal columns that floats next to each other and Feedback */

.one-column {
    float: left;
    width: 100%;
    padding: 0 20% 0 20%;
}

.one-column h1,
h2 {
    text-align: center;
}

.one-column p {
    text-align: center;
    color: #868e96;
}

.two-column {
    float: left;
    width: 50%;
    padding: 20px;
}

.two-column h2 {
    font-size: 20px;
    text-align: left;
}

.pre-footer {
    float: left;
    width: 50%;
}

.four-column {
    padding: 20px;
    float: left;
    width: 25%;
}

.four-column h2 {
    text-align: left;
}


/*IDs de color*/

#footerA {
    background-color: #21252995;
}

#footerB {
    background-color: #212529;
}


/*Galeria*/

.three-column {
    padding: 20px;
    float: left;
    width: 33.3%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    padding: 10px;
    text-align: center;
}

.clear {
    clear: both;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:700px) {
    .four-column,
    .twos-column,
    .three-column {
        width: 100%;
    }
}